<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="/css/animations.css">
    <title>Trading Site</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>TRADING PAGE</h1>
        </div>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Información</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Planes</a></li>
        </ul>
        <a href="/register" class="button">Registrate</a>
    </header>

    <section class="firstSection">
        <div class="title">
            <h1>Explora el mundo del trading con nuestro <span>Plan de curso</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur numquam dolorem, sunt sequi ullam dolorum eligendi quam, possimus ea, facere unde rerum veritatis deserunt repellat. Quasi ullam beatae laborum.</p>            
        </div>
        <div class="buttons">
            <a href="#">Comenzar</a>
            <a href="#">Demo</a>
        </div>
        <div class="tags">
            <a href="#">🥇 Verificado por World Bank</a>
            <a href="#">🥇 Verificado por Trading Center</a>
        </div>
    </section>
    <div class="tradingDivisor">
        <div class="cards">
            <div class="card">                
                <div class="title">
                    <i class='bx bxl-google'></i>
                    <h3>Google</h3>
                </div>
                <div class="data">
                    <h4>560.41</h4>
                    <div class="stats upStatBG">
                        <a href="#">
                            <i class='bx bx-stats'></i>
                            <span>+3.11%</span>
                        </a>
                    </div>
                </div>
                <div class="subData">
                    <span>Sabado, 9 Apr 2024</span>
                    <span>Rs. 1503.94</span>
                </div>                
            </div>

            <div class="card">                
                <div class="title">
                    <i class='bx bxl-apple'></i>
                    <h3>Apple</h3>
                </div>
                <div class="data">
                    <h4>560.41</h4>
                    <div class="stats upStatBG">
                        <a href="#">
                            <i class='bx bx-stats'></i>
                            <span>+5.11%</span>
                        </a>
                    </div>
                </div>
                <div class="subData">
                    <span>Sabado, 10 Apr 2024</span>
                    <span>Rs. 3503.94</span>
                </div>                
            </div>

            <div class="card">                
                <div class="title">
                    <i class='bx bxl-meta'></i>
                    <h3>Meta</h3>
                </div>
                <div class="data">
                    <h4>560.41</h4>
                    <div class="stats downStatBG">
                        <a href="#">
                            <i class='bx bx-stats downStat'></i>
                            <span class="downStat">-3.11%</span>
                        </a>
                    </div>
                </div>
                <div class="subData">
                    <span>Sabado, 8 Apr 2024</span>
                    <span>Rs. 1503.94</span>
                </div>                
            </div>
        </div>
    </div>
    <div class="commentsSection">
        <div class="title">
            <h1>Descubre lo que nuestros clientes <span>Comentan sobre nosotros</span></h1>
        </div>
        <div class="cards">
            <div class="card leftStyleCard havetoappearLeft" id="firstcard">
                <div class="clientInfo">
                    <img src="/images/avatar.png" alt="avatar" />
                    <div class="clientData">
                        <span>Martin Perez</span>
                        <small>Marketing Digital</small>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius repudiandae laboriosam hic aliquid quia dolores. Corporis, unde non obcaecati facere blanditiis at dolorem iure, ipsa dignissimos odio adipisci quos delectus.</p>
            </div>

            <div class="card rightStyleCard havetoappearRight">
                <div class="clientInfo">
                    <img src="/images/avatar.png" alt="avatar" />
                    <div class="clientData">
                        <span>Martin Perez</span>
                        <small>Marketing Digital</small>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius repudiandae laboriosam hic aliquid quia dolores. Corporis, unde non obcaecati facere blanditiis at dolorem iure, ipsa dignissimos odio adipisci quos delectus.</p>
            </div>

            <div class="card leftStyleCard havetoappearLeft">
                <div class="clientInfo">
                    <img src="/images/avatar.png" alt="avatar" />
                    <div class="clientData">
                        <span>Martin Perez</span>
                        <small>Marketing Digital</small>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius repudiandae laboriosam hic aliquid quia dolores. Corporis, unde non obcaecati facere blanditiis at dolorem iure, ipsa dignissimos odio adipisci quos delectus.</p>
            </div>

        </div>
    </div>
    <div class="buySection">
        <div class="sectionTitle">
            <h1>Te comentamos sobre la <span>Lista de planes básicos</span></h1>
        </div>
        <div class="plans">
            <div class="plan havetoappear">
                <div class="planInfo">
                    <div class="title">
                        <i class='bx bx-crown'></i>
                        <h1>Standard Pack</h1>
                    </div>
                    <div class="pricing">
                        <span>$280 <small>Anualmente</small></span>
                        <span>$25 <small>Mensualmente</small></span>
                    </div>
                    <div class="packDesc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores doloremque nostrum, perferendis fugit obcaecati autem voluptas id quis dolorum ut aut praesentium omnis iusto laborum quae fugiat? Dolorum, et error.</p>
                    </div>
                    <a href="#">Contratar</a>
                </div>
            </div>

            <div class="plan havetoappear">
                <div class="planInfo">
                    <div class="title">
                        <i class='bx bx-crown'></i>
                        <h1>Premium Pack</h1>
                    </div>
                    <div class="pricing">
                        <span>$720 <small>Anualmente</small></span>
                        <span>$65 <small>Mensualmente</small></span>
                    </div>
                    <div class="packDesc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores doloremque nostrum, perferendis fugit obcaecati autem voluptas id quis dolorum ut aut praesentium omnis iusto laborum quae fugiat? Dolorum, et error.</p>
                    </div>
                    <a href="#">Contratar</a>
                </div>
            </div>

            <div class="plan havetoappear">
                <div class="planInfo">
                    <div class="title">
                        <i class='bx bx-crown'></i>
                        <h1>Royal Pack</h1>
                    </div>
                    <div class="pricing">
                        <span>$1400 <small>Anualmente</small></span>
                        <span>$120 <small>Mensualmente</small></span>
                    </div>
                    <div class="packDesc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores doloremque nostrum, perferendis fugit obcaecati autem voluptas id quis dolorum ut aut praesentium omnis iusto laborum quae fugiat? Dolorum, et error.</p>
                    </div>
                    <a href="#">Contratar</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <span>© Copyright 2022. All Rights Reserved.</span>
    </footer>

    <div class="loadingscreen"><div class="loader"></div></div>
</body>

<script src="/js/main.js"></script>
</html>
