@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono+Poppins:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
}

:root {
    --up-green-color: #82B837;
    --up-green-background: #2E3625;
    --down-red-color: #FC6668;
    --down-red-background: #3E2324;

    --main-color-purple: #B298FA;

    --text-purple-opacity: #665e7a;
    --text-purple-desc: #d3d0e0;
}

body {
    background: #1A1920;
    background-image: url(/assets/images/bbblurry.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    color: white;
    padding: 2%;
}

header .title h1 {
    font-size: 25px;
    font-weight: 200;
}

header ul {
    display: flex;
    margin-left: 35%;
    margin-top: -1.5%;
}

header li {
    list-style: none;
    margin-right: 5%;
}

header li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header .button {
    background: linear-gradient(90deg, rgba(120,79,230,1) 0%, rgba(103,52,214,1) 100%);
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    position: absolute;
    right: 2%;
    margin-top: -2%;
    font-weight: bold;
}

.firstSection .title {
    color: white;
    margin-top: 5%;
    text-align: center;
    width: 65em;
    position: relative;
    left: calc(50% - (65em/2));
}

.firstSection .title h1 {
    font-size: 35px;
    letter-spacing: 1px;
    font-size: 55px;
}

.firstSection .title h1 span {
    color: var(--main-color-purple);
}

.firstSection .title p {
    color: var(--text-purple-desc);
    margin-top: 2%;
    font-weight: 600;
    font-size: 15px;
    
}

.firstSection .buttons {
    position: relative;
    text-align: center;
    margin-top: 3%;
}

.firstSection .buttons a {
    background: linear-gradient(90deg, rgba(120,79,230,1) 0%, rgba(103,52,214,1) 100%);
    text-decoration: none;
    color: white;
    margin-right: 2%;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: bold;
}

.firstSection .buttons a:last-child {
    background: none;
    border: 1px solid white;
    transition: all .2s;
}

.firstSection .buttons a:last-child:hover {
    background: white;
    color: black;
}

.firstSection .tags {
    margin-top: 4%;
    text-align: center;
}

.firstSection .tags a {
    color: white;
    text-decoration: none;
    background: #282533;
    padding: 10px;
    border-radius: 15px;
    margin-right: 2%;
    font-size: 12px;
    font-weight: 600;
}

.tradingDivisor .cards {
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;
    position: relative;
    left: 15%;
    /* mask: linear-gradient(-90deg, transparent, white 20%, white 80%, transparent); */
    
}

.tradingDivisor .cards .card {
    background: #2D2839;
    border: 1px solid #b9a0ff;
    width: 20%;
    border-radius: 15px;
    margin-right: 5%;
}

.tradingDivisor .cards .card .title {
    display: flex;
    color: white;
}

.tradingDivisor .cards .card .title i {
    font-size: 25px;
    margin-right: 5px;
}

.tradingDivisor .cards .card .title h3 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}

.tradingDivisor .cards .card .data {
    display: flex;   
}

.tradingDivisor .cards .card .data h4 {
    color: white;
    font-size: 30px;
}

.tradingDivisor .cards .card .data .stats {
    
    padding: 5px;
    border-radius: 15px;
    margin-left: 40%;
}

.tradingDivisor .cards .card .data .upStatBG {
    background: var(--up-green-background);
}

.tradingDivisor .cards .card .data .downStatBG {
    background: var(--down-red-background);
}



.tradingDivisor .cards .card .data .stats a {
    color:var(--up-green-color);
    text-decoration: none;
}

.downStat {
    color:var(--down-red-color);
    text-decoration: none;
}


.tradingDivisor .cards .card .subData::before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #3D384A;
    margin-bottom: 5%;
}

.tradingDivisor .cards .card .subData span:first-child {
    color: var(--text-purple-opacity);
    font-weight: 600;
    margin-right: 12%;
}

.tradingDivisor .cards .card .subData span:last-child {
    color: white;
    font-weight: 600;
}

.tradingDivisor .cards .card .title, .data, .subData {
    padding: 5%;
}

.commentsSection .title {
    text-align: center;
    width: 35em;
    position: relative;
    left: calc(50% - (35em/2));
    margin-bottom: 5%;
    padding: 5% 0;
}

.commentsSection .title h1 {
    
    color: white;
}

.commentsSection .title h1 span {
    color: var(--main-color-purple);
}

.commentsSection .cards {
    margin-left: 15%;
    margin-bottom: 5%;
}

.leftStyleCard {
    mask: linear-gradient(-90deg, transparent, white 0%, white 80%, transparent);
}

.rightStyleCard {
    mask: linear-gradient(90deg, transparent, white 00%, white 80%, transparent);
    margin-left: 50%;
}



.commentsSection {
    
    background-image: url(/assets/images/sections.svg);
    background-repeat: no-repeat;
    background-position: 50% -50%;
    background-size: 50%;
}
.commentsSection .cards .card {
    background: #2D2839;
    border: 1px solid #b9a0ff;
    width: 30%;
    border-radius: 15px;
    margin-right: 5%;
    padding: 35px;
}

.commentsSection .cards .card .clientInfo {
    display: flex;
    margin-bottom: 5%;
}

.commentsSection .cards .card .clientInfo img {
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin-right: 5%;
}

.commentsSection .cards .card .clientInfo span {
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.commentsSection .cards .card .clientInfo small {
    color: var(--text-purple-desc);
}

.commentsSection .cards .card .clientInfo .clientData {
    max-width: 150px;
}

.commentsSection .cards .card p {
    color: white;
}

.buySection {
    margin-bottom: 5%;
}

.buySection .sectionTitle {
    text-align: center;
    width: 25em;
    position: relative;
    left: calc(50% - (25em/2));
    margin-bottom: 5%;
    padding: 5% 0;

}

.buySection .sectionTitle h1 {
    color: white;
}

.buySection .sectionTitle span{
    color: var(--main-color-purple);
}


.buySection .plans {
    display: flex;
    margin-left: 15%;
    position: relative;
}

.buySection .plans .plan {
    background: #2D2839;
    border: 1px solid #b9a0ff;
    width: 20%;
    border-radius: 15px;
    margin-right: 5%;
    padding: 35px;
}

.havetoappear {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
}

.havetoappearLeft {
    opacity: 0;
    transform: translate3d(-300px, 0, 0);
}

.havetoappearRight {
    opacity: 0;
    transform: translate3d(-300px, 0, 0);
}

.ready {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.buySection .plans .plan .planInfo .title {
    color: white;
    margin-bottom: 5%;
}

.buySection .plans .plan .planInfo .title i {
    font-size: 25px;
    color: gold;

}

.buySection .plans .plan .planInfo .pricing {
    margin-bottom: 5%;
}

.buySection .plans .plan .planInfo .pricing span {
    display: block;
    font-size: 25px;
    color: #b9a0ff;
}

.buySection .plans .plan .planInfo .pricing small::before{
    content: "/ ";
}

.buySection .plans .plan .planInfo .pricing small {
    color: white;
}

.buySection .plans .plan .planInfo .packDesc::before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #3D384A;
    margin-bottom: 15%;
}

.buySection .plans .plan .planInfo .packDesc {
    color: var(--text-purple-desc);
    margin-bottom: 10%;
}

.buySection .plans .plan .planInfo a {
    background: linear-gradient(90deg, rgba(120,79,230,1) 0%, rgba(103,52,214,1) 100%);
    text-decoration: none;
    color: white;
    margin-right: 2%;
    padding: 15px 38px;
    border-radius: 5px;
    font-weight: bold;

}

footer {
    text-align: center;
    color: #aaa6b4;
    background-color: #17171B;
    position: absolute;
    bottom: 50;
    width: 100%;
    padding: 5% 0;
}

.loadingscreen {
    background: rgba(0,0,0,1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 400;
    position: fixed;
    top: 0;
    
}

.appear {
    animation: aparecer 2s ease-in-out forwards;
}


.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #4b4aa5;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 500;
}