<header>
    <div class="title">
        <h1>TRADING PAGE</h1>
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Información</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Planes</a></li>
    </ul>
    <a href="/register" class="button" id="buttonHeader">Register</a>
</header>
<script>
    let buttonHeader = document.getElementById("buttonHeader");
    
    if (window.location.href.indexOf("register") > -1) {
        buttonHeader.href = "/login"
        buttonHeader.textContent = "Login"
    }
</script>